@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.navbar{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

}

.navbar ul{
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4vw;


}
.navbar ul li a{
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   transition: 0.5s;
   color: black;
   text-transform: uppercase;
   font-size: 13px;
}
.navbar ul li a:hover{
   color: orange;
   font-size: 20px;
}
.navbar .menu_cont{
   display: flex;
   align-items: center;
   justify-content: center;

}
.navbar .logo{
   width: 60px;
   filter: invert(100%);
   position: absolute;
   left: 5vw;
   top: 0vh;
   
}
.navbar .cart_icon{
   width: 25px;
   position: absolute;
   right: 5vw;
   top: 2vh;
}
